.ant-carousel .slick-slide {
    text-align: center;
    height: 720px;
    line-height: 160px;
    background: #eeeeee;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}